<%- include("partials/header") %>
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
        <a class="navbar-brand" href="">
            E.
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link px-4" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4" href="/home/resources">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4" href="/home/clubs">Clubs & Societies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4" href="/home/wof">Wall of Fame</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4" href="/home/ideas">Ideas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4" href="/home/contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <section id="resources">
        <div class="container-fluid" data-aos="fade-in" data-aos-duration="800">
            <h3>Notes</h3>
            <ul>
                <li><a href="#">IWT</a></li>
                <li><a href="#">Java</a></li>
            </ul>



            <h3>Recommended Courses</h3>
            <ul>
                <li><a href="#">Neural Network and Deep Leaning</a></li>
                <li><a href="#">Web Development Bootcamp</a></li>
            </ul>
        </div>
    </section>

    <%- include("partials/footer") %>